body
{
font-family: Arial;
margin: 0;
padding: 0;
}

header
{
text-align: center;
border: 1px solid black;
padding: 20px;
}

nav
{
margin-top: 10px;
}

nav a
{
margin: 10px;
text-decoration: none;
}

main
{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px;
padding: 10px;
}

.box
{
border: 1px solid black;
padding: 10px;
}

img
{
width: 100%;
}

footer
{
text-align: center;
border: 1px solid black;
padding: 15px;
}



.partners-page
{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
}

.partner
{
border: 1px solid black;
padding: 10px;

transition: 0.5s;
}

.partner:hover
{
transform: scale(1.05);
}